.App {
  text-align: center;
  height: 600px;
  background-image: url("../assets/SoccerField.jpg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Aladin', cursive;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
body, html {
  height: 100%;
  margin: 0;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.buttonPlayer{
color:orange;
background-color: orange;

}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.inputField{
  width: 80%;
  height: 40px;
  border-radius: 20px;
  margin-top: 10px;
  font-family: 'Aladin', cursive;
  font-size: 18px;
  
}
.containSearch{
  width: 40%;
  display: inline-block;
  background-color: white;
  border-radius: 20px;
  margin-top: 10px;
  margin-bottom: 8px;
  opacity: 96%;

  
}
.containFilter{
  width: 100px;
  display: inline-block;
  background-color: white;
  border-radius: 20px;
  margin-top: 10px;
  
}
.groupButtons{
  width: 30%;
  font-size: 10;
  font-family: 'Aladin', cursive;

}

#searchButton{
  width: 50%;
  border-radius: 15px;
  margin-top: 5px;
  margin-bottom: 6px;
  font-family: 'Aladin', cursive;

}
.selectButton{
  width: 60%;
  border-style: solid;
  border-width: 3rem;
  border-color: black;
}
#demo-simple-select{
  font-size: 12px;
}
#selectlabel{
  font-size: 10px;
  /* margin-top: -10px; */


}
.groupB{
  margin-left: 10px;
  font-family: 'Aladin', cursive;
}
.componenet_grid{
  width: 50%;

}
.Typography{
  font-family: 'Aladin', cursive;

}

